include README.md
include LICENSE
include setup.py
recursive-include docs *
recursive-include examples *
recursive-include src *
global-include *.txt
global-include *.rst
global-exclude *.pyc
prune tests
